html {
    scroll-behavior: smooth;
}

body{
  background-color: #f7f7f7 !important;
}

#preloader{
    width: 100%;
    height: 100vh;
    background-color: #f1f2f3;
    background-image: url(images/Double_Ring.gif);
    background-repeat: no-repeat;
    background-position: center;
}

/* NAVBAR STYLE  */

.nav-item a{
  font-weight: 600;

}
.nav-item a:hover{
    color: #f7e200 !important;
    border-bottom: 2px solid #f7e200;
    transition: linear all 0.4s;

}

#home h3{
  font-size: 2rem;
}

#home h1{
  font-size: 4rem;
  letter-spacing: 6px;
}

#home .row{
  background-color: #f7f7f7
}


/* CONNECT SECTION STYLE  */

#connectme .btn a:hover{
  color: rgb(0, 153, 255) !important;
  text-decoration: none;
}


@media only screen and (max-width: 768px){
#home h1 {
    font-size: 3rem !important;
}
}
